.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  .star-container {
    display: flex;
    justify-content: center;
    .star-button {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
  .input-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;

    .input-field {
      border: 1px solid var(--light-gray);
      border-radius: 10px;
      padding: 10px;
      font-size: 16px;

      &:focus {
        border: 1px solid #6fc4e5;
        outline: none;
      }
    }
  }

  .submit-button {
    border: none;
    padding: 10px;
    background-color: var(--blue);
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
  }
}
