.input {
  padding: 4px 11px;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  &::placeholder {
    color: rgb(180, 171, 171);
  }

  &:focus {
    border: 1px solid blue;
  }
}
