.search-container {
  position: relative;
  width: 45%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  .search {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 50px;
    background-color: var(--white);
    background-image: url('../../../../assets/icons/search.svg');
    background-repeat: no-repeat;
    background-position: 15px 50%;
    background-size: 22px;
    font-family: Montserrat;

    &:focus {
      outline: none;
    }
  }

  .reset {
    position: absolute;
    right: 20px;
    padding: 0;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
    .x-mark {
      fill: var(--black);
      &:hover {
        fill: var(--red);
      }
    }
  }
}
