.container {
  background-color: var(--gray);
  width: 126px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 1px 16px;
  color: var(--white);
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-family: Montserrat;
  margin-left: 15px;

  &:hover {
    &:hover {
      background-color: var(--gray-alpha-40);
      transition: all 300ms;
      cursor: pointer;
    }
  }
}

@media (width < 576px) {
  .container {
    display: none;
  }
}
