.container {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid var(--light-gray);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Montserrat;
  font-size: 14px;
}
