:root {
  --white: #ffffff;
  --white-gray: #f5f5f5;
  --purple: #242a3a;
  --gray: #fff3;
  --gray-alpha-40: #ffffff77;
  --red: #ff0000;
  --green: #00a046;
  --light-green: #00bc52;
  --light-gray: #e9e9e9;
  --black: #000000;
  --blue: #3e77aa;
}
