.container {
  width: 100%;
  padding-inline: 40px;
  padding: 0 40px 20px 40px;
  font-family: Montserrat;

  .navigation-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 16px;
    margin-top: 20px;
    border-bottom: 1px solid var(--light-gray);

    .nav-item {
      text-decoration: none;
      color: var(--black);

      &:hover {
        color: var(--green);
        border-bottom: 1px solid var(--green);
      }
    }

    .selected-nav-item {
      color: var(--green);
      text-decoration: none;
      border-bottom: 1px solid var(--green);
    }
  }

  .item-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 45px;

    .image {
      width: 40%;
      height: 60vh;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: -1;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .text-info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 10px;

      .item-name {
        font-size: 24px;
        font-weight: 600;
      }

      .item-buy-info {
        display: flex;
        flex-direction: column;
        border: 1px solid var(--light-gray);
        border-radius: 10px;
        padding: 15px;
        gap: 10px;

        .seller {
          display: flex;
          font-weight: 600;
          flex-direction: row;
          align-items: center;
          border-bottom: 1px solid var(--light-gray);
          padding-bottom: 10px;

          img {
            padding: 0 10px 0 5px;
            height: 35px;
          }
        }

        .item-price {
          font-weight: 500;
          color: var(--green);
          font-size: 20px;
        }

        .buy-button {
          border: none;
          font-weight: 600;
          font-size: 18px;
          color: var(--white);
          background-color: var(--green);
          padding: 10px;
          border-radius: 8px;
          cursor: pointer;

          &:hover {
            transition: all 300ms;
            background-color: var(--light-green);
          }
        }

        .buy-button-selected {
          border: none;
          font-weight: 600;
          font-size: 18px;
          color: var(--white);
          background-color: var(--light-gray);
          padding: 10px;
          border-radius: 8px;
          cursor: pointer;
        }

        .currency {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          .separator {
            height: 20px;
            border-left: 1px solid var(--black);
            padding-right: 10px;
            margin-left: 10px;
          }

          .selected {
            border: none;
            background-color: var(--green);
            color: var(--white);
            font-size: 18px;
            border-radius: 5px;
            font-weight: 500;
            cursor: pointer;
          }

          .non-selected {
            border: none;
            background-color: var(--light-gray);
            color: var(--black);
            font-size: 18px;
            border-radius: 5px;
            font-weight: 500;
            cursor: pointer;
          }
        }

        .ready {
          font-size: 18px;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          color: var(--green);

          .status {
            padding-right: 10px;
          }
        }
      }
    }
  }
}

@media (width < 768px) {
  .container {
    padding: 0 10px 20px 10px;
  }
}

@media (width < 1300px) {
  .container {
    .item-info {
      .image {
        width: 60%;
      }
    }
  }
}

@media (width < 900px) {
  .container {
    .item-info {
      flex-direction: column;

      .image {
        width: 100%;
      }

      .text-info {
        justify-content: center;
        padding-inline: 30px;
      }
    }
  }
}
