.container {
  width: 100%;
  padding-inline: 40px;
  padding: 0 40px 20px 40px;
  font-family: Montserrat;

  .navigation-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 16px;
    margin-top: 20px;
    border-bottom: 1px solid var(--light-gray);

    .nav-item {
      text-decoration: none;
      color: var(--black);

      &:hover {
        color: var(--green);
        border-bottom: 1px solid var(--green);
      }
    }

    .selected-nav-item {
      color: var(--green);
      text-decoration: none;
      border-bottom: 1px solid var(--green);
    }
  }

  .item-name {
    margin-top: 20px;
    font-weight: 600;
    font-size: 24px;
  }

  .comments-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-radius: 5px;
    padding: 15px;
    font-weight: 500;
    border: 1px solid var(--light-gray);

    .add-comment {
      border: none;
      background-color: var(--white-gray);
      font-size: 16px;
      padding: 16px;
      color: var(--blue);
      border-radius: 10px;
      cursor: pointer;
    }
  }
}

// @media (width < 768px) {
//   .container {
//     padding: 0 10px 20px 10px;
//   }
// }
