.container {
  width: calc(20% - 33px);
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
  font-family: Montserrat;
  cursor: pointer;

  &:hover {
    z-index: 5;
    border: none;
    background-color: var(--white);
    transform: scale(1.05, 1.05);
    box-shadow: 0 0 10px 9px rgba(0, 0, 0, 0.1);
  }

  .image-placeholder {
    width: 100%;
    display: flex;
    justify-content: center;

    img {
      max-width: 100%;
    }
  }

  .name {
    font-size: 14px;
    word-break: keep-all;
    padding: 45px 0 20px 0;
  }

  .price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
    align-items: center;

    .buy {
      position: relative;
      border: none;
      background-color: transparent;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;

      &:hover {
        scale: (1.2);
        cursor: pointer;
      }

      .selected {
        top: 0;
        left: 25px;
        position: absolute;
        font-size: 16px;
        z-index: 7;
      }
    }
  }

  .ready {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 25px;
    color: var(--green);

    .status {
      padding-right: 10px;
    }
  }
}

@media (width < 1280px) {
  .container {
    width: calc(33.33333333% - 33px);
  }
}

@media (width < 768px) {
  .container {
    width: calc(50% - 33px);
  }
}
