.container {
  width: 100%;
  background-color: var(--purple);
  height: 72px;
  position: sticky;
  top: 0;
  z-index: 10;

  .layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .hamburger-icon {
      padding: 8px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;

      &:hover {
        background-color: var(--gray-alpha-40);
        transition: all 300ms;
        cursor: pointer;
      }
    }

    .big-logo {
      height: 60%;
      margin-left: 15px;

      &:hover {
        cursor: pointer;
      }
    }

    .small-logo {
      display: none;
    }

    .user-button {
      background-color: transparent;
      border: none;
      height: 50%;
      padding: 8px 10px;
      border-radius: 5px;
      margin-left: 15px;

      &:hover {
        cursor: pointer;
        background-color: var(--gray-alpha-40);
        transition: all 300ms;
      }
    }

    .cart-button {
      position: relative;
      background-color: transparent;
      border: none;
      height: 50%;
      padding: 8px 10px;
      border-radius: 5px;
      margin-left: 15px;
      display: flex;
      justify-content: center;
      align-items: center;

      .num-items {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 20px;
        background-color: var(--green);
        color: var(--white);
        border-radius: 50%;
        top: 0;
        left: 20px;
        font-size: 15px;
        font-weight: 600;
        font-family: Montserrat;
      }

      &:hover {
        cursor: pointer;
        background-color: var(--gray-alpha-40);
        transition: all 300ms;
      }
    }

    .dialog {
      position: absolute;
      top: 20vh;
      left: 10%;
      backdrop-filter: blur(10px);
      border: 1px solid grey;
      border-radius: 10px;
      backdrop-filter: blur(10px);
      font-family: Montserrat;

      .close {
        border: none;
        padding: 10px;
        font-size: 16px;
        border-radius: 10px;
        background-color: var(--red);
        color: var(--white);
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}

.logout {
  border: none;
  width: 100%;
  background-color: transparent;
  cursor: pointer;
  color: var(--red);
}

@media (width < 1024px) {
  .container {
    .layout {
      .big-logo {
        display: none;
      }

      .small-logo {
        display: inline;
        height: 60%;
        margin-left: 15px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.loginForm {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
