.container {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--purple);
  color: var(--white);
  font-family: Montserrat;
  font-weight: 500;
  font-size: 24px;
}
