.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 100px;
  margin-bottom: 50px;
  font-family: Montserrat;

  .information-row {
    display: flex;
    flex-direction: row;

    img {
      height: 80px;
    }

    .information-cell {
      display: flex;
      flex-direction: column;
      margin-left: 20px;

      .price {
        font-size: 18px;
        color: var(--green);
      }
    }
  }

  .button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;

    .cancel-button {
      border: none;
      background-color: var(--red);
      color: var(--white);
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
