.dialog-enter {
  opacity: 0;
  transform: scale(0.9);
}

.dialog-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.dialog-exit {
  opacity: 1;
}

.dialog-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.comment-enter {
  transform: translateX(-350px);
}

.comment-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
